 <footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.1.0
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year <a href="http://elitesurveygroup.com">Elite Survey Group</a>.</strong> All rights
    reserved.
</footer>