/.vs
/.vscode
/DCM.Core.Data/obj
/DCM.Core.Data/bin
/DCM.GUI.Core/obj
/DCM.GUI.Core/bin
/MSESG.CargoCare.Client/obj
/MSESG.CargoCare.Client/.vs
/MSESG.CargoCare.Client/bin
/MSESG.CargoCare.Core/obj
/MSESG.CargoCare.Core/bin
/MSESG.CargoCare.Core.EFServices/bin
/MSESG.CargoCare.Core.EFServices/obj
/MSESG.CargoCare.Web/obj
/MSESG.CargoCare.Web/bin
/node_modules
/packages
/MSESG.CargoCare.sln.DotSettings.user
/MSESG.CargoCare.Web/node_modules
/MSESG.CargoCare.Web/wwwroot/dist
/MSESG.CargoCare.Web/Migrations
/MSESG.CargoCare
