<div class="box box-default color-palette-box" cg-busy="{promise:myPromise, message: loadingMsg}">

    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button ng-click="addsello()" id="sample_editable_1_new" class="btn btn-primary ">
                        Agregar sello
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-2 form-group">
                <label for="lote" class="label-control">Filtrar por lote</label>
                <select ng-change="changeLote()" class="form-control" id="lote" ng-model="search">
                    <option value="">---N/A---</option>
                    <option ng-repeat="o in lotes" value="{{o.key}}">{{o.value}}</option>
                </select>

            </div>
            <div ng-show="search != ''" class="col-md-2 form-group">
                <div style="margin-top:5px;">&nbsp;</div>
                <a style="" href="javascript:;" ng-click="deletesello(search)" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Eliminar lote
                </a>
            </div>
            <div class="col-md-2 form-group">
                <label for="estado" class="label-control">Filtrar por estado</label>
                <select ng-change="changeEstatus()" class="form-control" id="estado" ng-model="curEstatus">
                    <option value="">---N/A---</option>
                    <option ng-repeat="o in estatus" value="{{o.key}}">{{o.value}}</option>
                </select>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <button ng-disabled="filter.page <= 1" ng-click="movePage('left')" type="button" class="btn btn-default">Anterior</button>
                    <button style="width: 250px" type="button" class="btn btn-default"><span ng-show="filter.totalItems > 0">pag {{filter.page}} de {{totalPages()}}</span> ( {{filter.totalItems}} sellos )</button>
                    <button ng-disabled="filter.page >= totalPages()" ng-click="movePage('right')" type="button" class="btn btn-default">Siguiente</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-circle-o"></i>Sello
                                </th>

                                <th>
                                    <i class="fa fa-circle-o"></i> Lote
                                </th>


                                <th>
                                    <i class="fa fa-circle-o"></i> Estado
                                </th>

                                <th>
                                    <i class="fa fa-circle-o"></i> Fecha Ingreso
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in sellos   track by $index">
                                <td class="highlight">
                                    <div class="success"></div>
                                    <a href="javascript:;"> {{c.codSello}} </a>
                                </td>
                                <td> {{c.lote}} </td>
                                <td> {{c.selloStatus}} </td>
                                <td> {{c.createdDate}} </td>
                                <td class="text-center" style="width:300px">
                                    <a ng-show="curDetalleId <= 0" href="javascript:;" ng-click="editsello(c)" class="btn  btn-sm btn-primary">
                                        <i class="fa fa-edit"></i> Editar
                                    </a>
                                    <div ng-show="c.id === curDetalleId" class="row text-left">
                                        <div class=" form-group col-md-12">
                                            <label for="destado{{c.id}}" class="label-control">Cambiar estado</label>
                                            <select class="form-control" id="destado{{c.id}}" ng-model="c.selloStatusId">
                                                <option value="">---N/A---</option>
                                                <option ng-repeat="o in estatus track by o.key" value="{{o.key}}">{{o.value}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button type="submit" ng-click="update(c)" class="btn btn-sm btn-primary">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" ng-click="cancel()" class="btn btn-sm btn-danger">Cancelar</button>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <button ng-disabled="filter.page <= 1" ng-click="movePage('left')" type="button" class="btn btn-default">Anterior</button>
                    <button style="width: 250px" type="button" class="btn btn-default"><span ng-show="filter.totalItems > 0">pag {{filter.page}} de {{totalPages()}}</span> ( {{filter.totalItems}} sellos )</button>
                    <button ng-disabled="filter.page >= totalPages()" ng-click="movePage('right')" type="button" class="btn btn-default">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>
