<div class="row" style="padding-top:20px">
    <div class="col-md-12">
        <div class="portlet light bordered" cg-busy="{promise:myPromise, message: $rootScope.loadingMsg}">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">{{titleMsg}}</span>
                </div>

            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" ng-submit="saveData(selloForm.$valid)" name="selloForm" role="form" novalidate>
                    <div class="form-body">

                        <div class="form-group">
                            <inputform disabled="true" collabel="col-md-2" collinput="col-md-3" display="Lote" name="lote" field="selloForm.lote" ng-model="sello.lote"> </inputform>
                            <inputform disabled="true"   ng-required="true" type="number" collabel="col-md-2" collinput="col-md-3" display="espacios" name="espacios" field="selloForm.espacios" ng-model="sello.espacios"> </inputform>
                        </div>

                        <div class="form-group">
                            <inputform ng-required="true" type="number" collabel="col-md-2" collinput="col-md-3" display="No. Inicial" name="inicial" field="selloForm.inicial" ng-model="sello.inicial"> </inputform>
                            <inputform ng-required="true"  type="number" collabel="col-md-2" collinput="col-md-3" display="No. final" name="final" field="selloForm.final" ng-model="sello.final"> </inputform>

                        </div>



                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" ng-disabled="selloForm.$invalid" class="btn blue-madison">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" ng-click="cancel()" class="btn default">Cancelar</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>