<div class="box box-default color-palette-box"  cg-busy="{promise:myPromise, message: loadingMsg}">

        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button ng-click="editcisterna()" id="sample_editable_1_new" class="btn btn-primary">
                            Agregar cisterna
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                   
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                    <tr>
                        <th>
                            <i class="fa fa-circle-o"></i> Ficha   
                        </th>
                   
                        <th>
                            <i class="fa fa-circle-o"></i> Placa
                        </th>
                 
                
                        <th>
                            <i class="fa fa-circle-o"></i> Compartientos
                        </th>
                        
                       
                        <th>
                            
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="c in cisternas   track by c.id">
                            <td class="highlight">
                                <div class="success"></div>
                                <a href="javascript:;"> {{c.ficha}} </a>
                            </td>
                            <td> {{c.placa}} </td>
                            <td> {{c.compartimentos}} </td>
                           
                            <td>
                                <a href="javascript:;" ng-click="editcisterna(c.id)" class="btn  btn-sm btn-primary">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                                <a href="javascript:;" ng-click="deletecisterna(c.id)" class="btn  btn-sm btn-danger">
                                    <i class="fa fa-trash-o"></i> Borrar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
