<div class="form-group {{collinput}}" ng-class="{'has-error' : field.$invalid && field.$touched, 'has-success': field.$valid && field.$touched}">
    <label for="{{name}}" class="control-label">{{display}}</label>
    <span ng-show="ngRequired" class="required" aria-required="true"> * </span>
    <div class="input-icon right">
        <select ng-disabled="disabled" id="{{name}}" type="{{type}}" ng-required="ngRequired" name="{{name}}" class="form-control" ng-model="ngModel">
            <option ng-repeat="o in option track by $index" ng-value="{{o.key}}">{{o.value}}</option>
        </select>
    </div>
</div>










